* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 5rem;
  height: 5rem;
  border: 2px solid #700032;
}

.sections {
  margin: auto;
  background-color: #e5e6fc;
  margin-top: 5rem;
}

.cards {
  width: 50%;
}